@import url('https://font.googleapics.com/com/css2?family=Poppins:wght@200;300;400;500;600;700@display=swap');

*{
    font-size: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* variables */
:root {
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    /* box shadow */
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 /15%)
}

.icon {
    width: 55px;
    height: 55px;
}

section {
    padding: 50px 100px;

}

img {
    width: 100%;
}

body {
    color: var(--text-color);



}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
   background: linear-gradient(to right ,rgb(0, 6, 12) , rgb(15, 51, 85));
    
    height: 3.5rem;
}

.logo img {
    width: 90px;
    height: 60px;
    border-radius: 35%;

}



/* start navbar */

.navbar {
    display: flex;
    /* width: 50rem;
    transition: 1s; */
}

.navbar a {
    font-size: 10rem;
    padding: 10px 13px;
    color: var(--main-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}

.navbar a:hover {
    background-color: rgb(2, 13, 24);
    border-bottom: 5px solid var(--main-color);
    border-radius: 0.9rem;
    transition: 0.5s all linear;
    color: #1b1b1b;

}

.header-icon img {
    width: 2rem;
    height: 1.5rem;
    color: white;
    object-fit: contain;
    border-radius: 0.4rem;
}

.header-icon img:hover {
    color: var(--bg-color);
    background: var(--main-color);
}
.menu img {
    width: 3rem;
    height: 1.5rem;
    color: white;
    object-fit: contain;
    border-radius: 20rem;
    display: none;
 }
.menu img:hover {
    color: var(--bg-color);
    background: var(--main-color);
 }

#menu-icon{
    color:var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}
.search-box input {
    width: 8.1rem;
    height: 2rem;
    border: #8a6f4d;
    border-radius: 1rem;
    text-align: right;

}

/* End navbar */



/* start home */
.home {
    width: 100%;
    min-height: 100vh;
    background: url(img/n4.jpg);
    background-repeat: on-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(139, 127, 127);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
    transition: 5s;

}

.home-text h1 {
    font-size: 5rem;
    color: var(--bg-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.home .home-img {
  
    padding-top: 3rem;
}

.home .home-img img {
    width: 50rem;
    height: 40rem;
    object-fit: contain;
    border-radius: 20%;
    background-color: transparent;
    background-size: cover;
    background-image: url(img/nn4.jpg);


}

.home-img img:hover {
    color: rgb(65, 65, 65);
    transition: 3s;
    content: url(img/logo/a1.png);
    background-size: contain;
    object-fit: fill;
    width: 100%;
    height: 100%;

}

.btn a {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 50%;
}

.btn {
    padding: 10px 40px;
    border-radius: 0.3rem;
    background-position: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
    background-color: #1b1b1b;
    align-items: center;
    align-content: center;


}

.btn:hover {
    background: #8a6f4d;
}
/* end home */


/* start About */
.heading:hover {
    zoom: 102%;
}

.heading h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
    
}

.heading p {
    color: var(--main-color);
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid rgb(78, 111, 145);
    border-radius: 0.5rem;
}

.about {
    background: linear-gradient(to left ,rgb(8, 68, 62) , rgb(0, 6, 12));
    background-size: cover;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.about h2 {
    color: var(--main-color);
    padding: 1.2%;
    font-size: 1.9rem;
}
/* Start about-container */

.about .about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.2rem;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    height: fit-content;
    gap: 1rem;
    border-radius: 0.3rem;
    padding-bottom: 2%;
    align-items: center;
    align-items: center;
    text-align: center;
    border: 3px solid rgb(22, 72, 88);
    border-radius: 0.5rem;

}


.about .about-container .Education {
    background: linear-gradient(to left ,rgba(8, 68, 62, 0.103) , rgb(2, 13, 24));
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.about .about-container .Education:hover {
    color: var(--text-color);
    zoom: 103%;
}

.about .about-container .Education img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0rem;
    border: 50px solid rgb(236, 241, 243);
    object-fit: fill;
}
.about .about-container .Education img:hover {
    zoom:120%;
    border: 5px solid rgb(49, 137, 167);
    transition: 3s;
}
.about .about-container .Education span {
    color: black;
    width: 100%;
    font-size: 1.3rem;
    border: 50%;
    border-color: 3px solid #bc9667;
    color: rgb(255, 255, 255);
    text-align: center;
}

.about .about-container span p {
    display: flex;
    font-size: 0.9rem;
    text-align: center;
    padding: 3px;
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 0rem;

}

.about .about-container h4 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;

}

/* end about-container */


/* start about skills */

.about .skills h3 {
    font-size: 2.5rem;
    color: rgb(1, 58, 77);
    padding: 2rem;
    width: 13rem;
}

h2:hover {
    color: black;

}

.about .skills .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;

    /* margin: 2rem; */

}

.about .skills .box span {
    background: #edeae3;
    height: 1rem;
    width: 100%;
    border-radius: 0.5rem;

}


.about .skills .box .st1 {
    background-color: aqua;
    width: 70%;
    height: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: left ;
}


.about .skills .box .st2 {
    background-color: rgb(155, 153, 156);
    width: 93%;
    height: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: left ;
}

.about .skills .box .st3 {
    background-color: rgb(28, 133, 133);
    width: 95%;
    height: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: left ;
}

.about .skills .box .st4 {
    background-color: rgb(142, 161, 116);
    width: 50%;
    height: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: left ;
}

.about .skills .box .st5 {
    background-color: rgb(37, 9, 15);
    width: 60%;
    height: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: left ;
}

.about .skills .box .st6 {
    background-color: rgb(12, 63, 228);
    width: 75%;
    height: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: left ;
}
/* about Skills navbar */




/* HOVER SKILLS */
.skills .box .st1:hover {
    zoom: 105%;
}

.skills .box .st2:hover {
    zoom: 105%;
}

.skills .box .st3:hover {
    zoom: 105%;
}

.skills .box .st4:hover {
    zoom: 105%;
}

.skills .box .st5:hover {
    zoom: 105%;
}

.skills .box .st6:hover {
    zoom: 105%;
}
/* HOVER SKILLS */



.skills .box span a {
    background: black;
    height: 0.2rem;
    padding: 2%;
    font-size: 1rem;
    color: var(--main-color);
    border-radius: 0.5rem;
}

.other-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17px, auto));
    gap: 1.5rem;
    margin-top: 3rem;
}

.other-skills .skills-img{
    background: transparent;
    width: 4rem;
    height: 5rem;
}
.other-skills .skills-img1{
    background: transparent;
    width: 4rem;
    height: 5rem;
    border-radius: 20rem;
    
}
.other-skills .skills-img1 img{
    border-radius: 10%;
    background: transparent;
}
.other-skills .skills-img1:hover{
    zoom: 130%;
    border-radius: 2rem;
    
}
.other-skills .skills-img img{
    border-radius: 50%;
    background: transparent;
}
.other-skills .skills-img:hover{
    zoom: 130%;
    border-radius: 2rem;
    
}
/*start Experience */
.Experience {
    padding: 5rem;
    background: linear-gradient(to top ,rgb(0, 6, 12) , rgb(15, 51, 85));
    background-size: cover;
    border-radius: 0.5rem;
    border-left: 4px solid var(--main-color);
    
}

.Experience .Experience-img {
    transition: 1s;
    background-color: #bc9667;
    border-radius: 0.1rem;
    background: url(img/nn4.jpg);
    background-size: contain;
    align-content: center;
    align-items: center;
    height: 14rem;
    width: 56%;
    text-align: center;
    margin-left: 22%;
    border: 6px solid var(--main-color);
    border-radius: 0.5rem;

}

.Experience .Experience-img:hover {

    background: url(img/n4.jpg);
    object-fit: cover;
    background-size: contain;

}

.Experience .Experience-img img {
    width: 24.2rem;
    height: 15.9rem;
    background: transparent;
    border-radius: 2rem;
}

.Experience .Experience-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.1rem;
    gap: 5rem;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    height: fit-content;
    border-left: 4px solid var(--main-color);
    border-radius: 0.5rem;
}


.Experience .Experience-card .exp .social img {
    width: 10%;
    height: 1.5rem;
    color: white;
    object-fit: contain;
    border: 1px solid wheat;
    background-color: rgb(20, 20, 20);
}

.Experience .Experience-card .exp .area {
    padding: 50%;
}

.Experience .Experience-card .exp {
    color: wheat;
    border: 4 px solid darkgrey;
    font-size: 0.8rem;
    margin-bottom: 2%;
    height: fit-content;
    background: linear-gradient(to right ,rgb(0, 6, 12) , rgba(15, 51, 85, 0));
    border-radius: 0.5rem;
    padding: 1%;
    border-left: 6px solid var(--main-color);


}
.Experience .Experience-card .exp:hover{
    background-image: url(img/n4.jpg);
    background-size: cover;
    zoom: 110%;
}

.Experience .Experience-card .exp img {
    width: 15%;
    height: 2.5rem;
    background-color: white;
    border: 3.4px solid var(--main-color);
    border-radius: 2rem;
}

.Experience .Experience-card .exp h6 {
    font-size: 0.7rem;
}

.Experience .Experience-card .area a {
    font-size: 1.5rem;
    color: var(--main-color);
}

.Experience .Experience-card .exp h5 {
    font-size: 0.8rem;
    color: var(--main-color);
}


.Experience .dropdown1 label {
    font-size: 2rem;
    color: #fff;
}

.Experience .dropdown1 select {
    width: 13%;
    height: 2rem;
    font-size: 1.2rem;
    margin: 1rem;
    background-color: var(--main-color);
}


.Experience .Experience-card .exp .social img:hover {
    color: var(--bg-color);
    background: var(--main-color);
}






/* start of portfolio */
.porfolio {
    overflow: hidden;
    padding-right: 2rem;
    width: 100%;
    border: 5px solid black;
    background: linear-gradient(to bottom ,rgb(0, 6, 12) , rgb(15, 51, 85));
 
}

.porfolio h2{
    color: var(--main-color);
    font-size: 1.5rem;
}
.porfolio p{
    color: var(--main-color);
    font-size: 1rem;
}
.porfolio .gallary-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    color:  rgb(2, 13, 24);
}

.porfolio .gallary-container .gallary-img img{
    border-radius: 0.5rem;
    height: 20rem;
    border: 5px solid transparent;
    object-fit: fill    ;
    object-position: center   ;
}
.porfolio .gallary-container .gallary-img1{
    background-size: contain;
    height: 20rem;
    border-radius: 0.5rem;
   }
.porfolio .gallary-container .gallary-img1:hover{
    background-image: url(img/p2.jpg);
}
.porfolio .gallary-container .gallary-img1 img{
    border-radius: 0.5rem;
     border: 5px solid transparent;
     height: 50%;
     object-fit: fill    ;
     object-position: left   ;
}
.porfolio .gallary-container .gallary-img1 img:hover{
     content: url(img/portfoilo/npo6.png) ;
     background-size: cover;
     transition: 1s;
     border: 5.7rem solid transparent;
     zoom: -10%;

} 

.porfolio .more{
    align-items: center;
    text-align: center;
    width: 100;
}

.porfolio .more h4{
    font-size: 1.3rem;
    color: var(--main-color);
    justify-content: center;
    padding: 2rem;
}
   /* start slide show */
.porfolio .wrapper{
    position: relative;
    width: 100%;
    height: 300px;
   
    border-radius: 0.5rem;
}

.porfolio .wrapper .img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: contain;
    align-items: center;
    text-align: center;
}
.porfolio .wrapper .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: center; */
    clip-path: circle(0% at 0% 100%);
    transition: all 0.7s;
    border-radius: 0.5rem;
}

  #one:checked ~ .img-1 img{
    clip-path: circle(150% at 0% 100%);
  }
  #two:checked ~ .img-1 img,
  #two:checked ~ .img-2 img{
    clip-path: circle(150% at 0% 100%);
  }
  #three:checked ~ .img-1 img,
  #three:checked ~ .img-2 img,
  #three:checked ~ .img-3 img{
    clip-path: circle(150% at 0% 100%);
  }
  #four:checked ~ .img-1 img,
  #four:checked ~ .img-2 img,
  #four:checked ~ .img-3 img,
  #four:checked ~ .img-4 img{
    clip-path: circle(150% at 0% 100%);
  }
  #five:checked ~ .img-1 img,
  #five:checked ~ .img-2 img,
  #five:checked ~ .img-3 img,
  #five:checked ~ .img-4 img,
  #five:checked ~ .img-5 img{
    clip-path: circle(150% at 0% 100%);
  }
  .porfolio .wrapper .sliders{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    display: flex;
  }
  .porfolio .wrapper .sliders label{
    border: 2px solid rgb(3, 61, 119);
    width: 13px;
    height: 13px;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #one:checked ~ .sliders label.one,
  #two:checked ~ .sliders label.two,
  #three:checked ~ .sliders label.three,
  #four:checked ~ .sliders label.four,
  #five:checked ~ .sliders label.five{
    width: 35px;
    border-radius: 14px;
    background: rgb(3, 61, 119);
  }
  .sliders label:hover{
    background: rgb(3, 61, 119);
  }
  input[type="radio"]{
    display: none;
  }
  
/* end slide show*/

/* end portfolio*/









/* start refference */
 .reffence-container{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, auto));
     gap: 0.5rem;
     padding-bottom:6rem ;
     border-radius: 0.5rem;
     
  }
  .reffence-container .box-c {
    background: linear-gradient(to right ,rgb(0, 6, 12) , rgba(15, 51, 85, 0));
    
    border-radius: 0.5rem;
    background-size: cover;
    width: 100%;
    height: 13rem;
    border-left: 0px solid var(--main-color);
    border-radius: 0rem;
  }
  .reffence-container .box-c:hover{
    background: linear-gradient(to bottom   ,rgb(8, 68, 62) , rgb(2, 13, 24));
    
  }

  .reffence-container .box-c .price .social{
    margin-left:25%;
    border-radius: 0.5rem;

  }
  .reffence-container .box-c p{
    background: linear-gradient(to right ,rgb(255, 249, 249) , rgba(252, 252, 252, 0.822));
    
    color: rgb(31, 51, 26);;
    font-size: 0.9rem;
    width: 80%;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 0rem;
    margin-left: 0rem;
    padding: 0.2rem;
    border: 0px solid wheat;
    text-align: center;
    margin-left: 10%;
   }

   .reffence-container .box-c .price .social img {
    width: 10%;
    height: 1.5rem;
    color: white;
    object-fit: contain;
    border: 1px solid wheat;
    background-color: rgb(20, 20, 20);
    margin-top: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}


/* Contact */
.contacts {
    width: 100%;
    /* background: rgb(11, 28, 44); */
    background: linear-gradient(to left ,rgb(8, 68, 62) , rgb(2, 13, 24));
    background-size: cover;
    border-radius: 0.5rem;
    /* background-image: url(img/apply33-.png); */
    background-size: cover;

}

.contacts .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    height: fit-content;
    width: 100%;
    /* border: 2px solid lightgrey; */
    /* margin-left: 15%; */
    background-color: transparent;
    border-radius: 0.5rem;
    
}

.contacts label {
    font-size: 2rem;
    width: 10rem;
    padding: 5px;
    color: #fff;
    border-radius: 0.5rem;
}

.contacts .subject {
    padding: 7px;
    border-radius: 0.5rem;
}

.contacts .dropdown {
    padding: 7px;
    border-radius: 0.5rem;
}

.contacts select {
    border-radius: 1px;
    width: 100%;
    height: 2.5rem;
    background-color: transparent;
    border: 5px solid transparent;
    color: #1b1b1b;
    background-color: rgb(238, 203, 158);
    border-radius: 0.5rem;
    background: linear-gradient(to right ,rgba(213, 217, 221, 0.986) , rgba(212, 157, 75, 0));
}

.contacts select option {
    background-color: rgb(238, 203, 158);
}

.contacts .l-input input {
    background: linear-gradient(to right ,rgb(255, 255, 255) , rgba(212, 157, 75, 0));
    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 100%;
    height: 2.5rem;
    padding-left: 20px;
    border-radius: 0.5rem;
    border: 5px solid transparent;
}

#placeholder {
    color: #fff;
}

.contacts .label-input {
    background-color: aqua;
    padding-bottom: 5rem;
    gap: 2rem;
    border-radius: 0.5rem;
}

.contacts .subject input {
    width: 100%;
    height: 12rem;
    border: 5px solid transparent;
    background-color: rgb(238, 203, 158);
    border-radius: 1px;
    color: rgb(100, 78, 50);
    border-radius: 0.5rem;  
    background: linear-gradient(to right ,rgba(213, 217, 221, 0.986) , rgba(212, 157, 75, 0));
    
}

.contacts .l-input {
    padding: 6px;
}
.contacts .btn1{
    text-align: center;
    align-items: center;
    align-content: center;
    border: 3px solid var(--main-color);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(100, 78, 50) ;
    font-size: 1.5rem;
    color: wheat;
    gap: 2rem;
}
.contacts .contact-img {
    width: 100%;
    height: 100%;
   text-align: left;
    border-radius: 0.5rem   ;
    background: linear-gradient(to left ,rgb(8, 68, 62) , rgba(153, 153, 153, 0));
    

}
.contacts .contact-img:hover{
    background: linear-gradient(to left ,rgb(8, 68, 62) , rgba(153, 153, 153, 0.158));
    
}
.contacts .contact-img img{
    height: 16rem;
    margin-top: -15%;
    
  
   }
.contacts .contact-btn{
    padding-top: 2rem;
    text-align: center;
}
/* end contact */


/* start footer */

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    background: linear-gradient(to top ,rgb(0, 6, 12) , rgb(15, 51, 85));
    
    margin-top: 0rem;
    padding-top: 0.5%;
}

.footer-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(122, 112, 112);
}

.footer-box p {
    color: var(--main-color);
    text-transform: uppercase;
}

.footer-box {
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    display: list-item;
    text-align: center;
}

.footer-box .social img {
    width: 15%;
    height: 1.7rem;
    color: white;
    object-fit: contain;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0);
}

.footer-box .social img:hover {
    color: var(--bg-color);
    background: var(--main-color);
}

.footer-box h3:hover {
    zoom: 120%;
    color: #fff;
}
.copyright{
    padding: 8px;
    background: var(--main-color);
    text-align: center;
}
/* End footer */


@media (max-width:1058px){
    header{
        padding: 18px;
    }
    .section {
        padding: 50px 60px;
    }
    .home-text h1{
        font-size: 2.4rem;
    }

}

@media (max-width:991px){
    header{
        padding: 16px 4%;
    }
    .section {
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 2rem;
    }

}
@media (max-width:490px ){
    body {
        width: fit-content;
        
    }
    .logo img {
        padding: 50px 4%;
    }

}
@media (max-width:460px ){
    .header{
        padding: 9px 4%;
    }
    .logo img {
        padding: 50px 4%;
    }
    .home-text{
        padding-top: 15px;
    }
    .home-text h1{
        font-size: 1.4rem;
    }
    .home-text p{
        font-size: 0.8rem;
        font-weight:300 ;

    }
    body {
        width: fit-content;
    }

}

@media (max-width:400px){
    .header{
        padding: 9px 4%;
    }
    .logo img {
        padding: 50px 4%;
    }
    .home-text{
        padding-top: 15px;
    }
    .home-text h1{
        font-size: 1.4rem;
    }
    .home-text p{
        font-size: 0.8rem;
        font-weight:300 ;

    }
    body {
        width: fit-content;
    }

}


@media (max-width: 768px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
    }
    .navbar {
        position: absolute;
        top: -578%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.5s;
        text-align: left;
    }
    .navbar a{
        color: var(--text-color);


    }
    .navbar a:hover{
        color: var(--main-color);
    }
    .navbar.active{
        top: 100%;
        margin-left: 10rem;
    }
    .header-icon {
        position: relative;
    }
    .products-container{
        background-position: relative;

        width: fit-content;
    }
   
 }

 @media (max-width: 768px){
    .about-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem, auto));
        margin-left: 0.1rem;
        margin-left: 0.1rem;
        width: 100%;
        height: 50%;
    }
   
    .porfolio .gallary{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, auto));
    }

    .heading p {
        color: #fff;
        font-size: 1rem;
        text-align: center;
    }
    .home-text h1 {
        font-size: 50px;
        color: var(--main-color);
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 30%;
        text-align: center;
        padding: 3rem;

    }
    .exp li{
        font-size: 10px;
    }
 }
